@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 700;
    src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/inter-v20-latin-800italic.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #292929;
    margin: 0;
}

main {
    padding: 20px;
    background-color: #fff;
}

@media (width >=720px) {
    main {
        padding: 72px;
    }
}

@media (width >=1260px) {
    main {
        padding: 120px;
    }
}

.header-title {
    font-weight: 800;
    font-style: italic;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin: 0;
    margin-top: 20px;
}

@media (width >=720px) {
    .header-title {
        margin-top: 40px;
        font-size: 40px;
    }
}

@media (width >=1260px) {
    .header-title {
        font-size: 48px;
    }
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    background-color: #E8EFF9;
    height: 100vh;
    box-sizing: border-box;
    padding: 32px 20px;
}

.menu:target {
    transform: translateX(0%);
}

@media (width >=720px) {
    .menu {
        padding: 64px 72px;
    }
}

@media (width >=1260px) {
    .menu {
        padding: 64px 120px;
    }
}

nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 36px;
}

.nav-link {
    text-decoration: none;
    color: #292929;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

@media (width >=720px) {
    nav {
        margin-top: 64px;
    }
}

@media (width >=1260px) {
    nav {
        margin-top: 64px;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 32px 20px;
    box-sizing: border-box;
    background-image: url(images/header-mobile.png);
    background-size: cover;
}

@media (width >=720px) {
    .header {
        padding: 64px 72px;
    }
}

@media (width >=1260px) {
    .header {
        padding: 64px 120px;
        background-image: url(images/header.png);
        background-position: top center;
    }
}

.header-waves {
    width: 32px;
}

@media (width >=720px) {
    .header-waves {
        width: 64px;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 16px;
}

@media (width >=720px) {
    .logo {
        height: 24px;
    }
}

.menu-button {
    background-image: url(images/icon-burger-menu.png);
    height: 24px;
    width: 24px;
    display: block;
}

.menu-button:hover {
    background-image: url(images/icon-burger-menu-hover.png);
}

.close-button {
    background-image: url(images/icon-close.png);
    height: 24px;
    width: 24px;
    display: block;
}

.recommended-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 100px;
}

@media (width >=720px) {
    .recommended-title {
        font-size: 40px;
        margin-bottom: 64px;
        margin-top: 48px;
    }
}

@media (width >=1260px) {
    .recommended-title {
        font-size: 48px;
        margin-top: 0;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
}

@media (width >=1260px) {
    .products {
        gap: 40px;
    }
}

@media (width >=1260px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

.product-photo {
    width: 100%;
}

.section-products {
    margin-bottom: 120px;
    max-width: 1200px;
    margin-inline: auto;
}

@media (min-width: 720px) and (max-width: 1199px) {
    .section-products {
        margin-left: 56px;
        margin-right: 56px;
    }
}

.product-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    margin-top: 32px;
}

.product-description {
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    margin-top: 8px;
}

.product-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    margin-top: 12px;
}

.photos {
    display: flex;
    justify-content: space-between;
}

.photo-wide {
    width: 49%;
    object-fit: cover;
}

.photo-square {
    width: 49%;
}

@media (width >=720px) {
    .photo-wide {
        width: 66%;
    }

    .photo-square {
        width: 32%;
    }
}

.category {
    margin-top: 40px;
    max-width: 1200px;
    margin-inline: auto;

}

@media (width >=720px) {
    .category {
        margin-top: 64px;
    }
}

.category-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    margin-top: 16px;
}

@media (width >=720px) {
    .category-title {
        font-size: 24px;
    }
}

.benefits-title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1.5px;
}

@media (width >=720px) {
    .benefits-title {
        font-size: 40px;
    }
}

@media (width >=1260px) {
    .benefits-title {
        font-size: 48px;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin-top: 120px;
    margin-bottom: 100px;
    max-width: 1200px;
    margin-inline: auto;

}

@media (width >=720px) {
    .benefits {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-bottom: 48px;
    }
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.benefits-description {
    margin: 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 27px;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 460px;
    background-image: url(images/footer.png);
    background-size: cover;
    background-position: top center;
}