@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 700;
    src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/inter-v20-latin-800italic.woff2') format('woff2');
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-style: italic;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin: 0;
    margin-top: 40px;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    background-color: #E8EFF9;
    height: 100vh;
    box-sizing: border-box;
    padding: 64px 120px;
}

.menu:target {
    transform: translateX(0%);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}

.nav-link {
    text-decoration: none;
    color: #292929;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 64px 120px;
    box-sizing: border-box;
    background-image: url(images/header.png);
    background-size: cover;
    background-position: top center;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    background-image: url(images/icon-burger-menu.png);
    height: 24px;
    width: 24px;
    display: block;
}

.menu-button:hover {
    background-image: url(images/icon-burger-menu-hover.png);
}

.close-button {
    background-image: url(images/icon-close.png);
    height: 24px;
    width: 24px;
    display: block;
}

.recommended-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 64px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.product-photo {
    width: 100%;
}

.section-products {
    margin: 120px;
}

.product-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}

.product-description {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}

.product-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}

footer {
    height: 460px;
    background-image: url(images/footer.png);
    background-size: cover;
    background-position: top center;
}